@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url(../fonts/PTSans.woff2), url(../font/PTSans.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url(../fonts/PTSans-Bold.woff2), url(../font/PTSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-grey-body: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --basic-darkgrey: #a9a9a9;
  --basic-grey-modal: #f2f2f2;
  --basic-darkbrown: #333333;
  --special: #666666;
}

/*Global*/

.page {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 120px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-body);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.main-navigation {
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  list-style-type: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-darkgrey);
}

.site-navigation a:active {
  color: var(--basic-brown);
}
