@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url(../fonts/ptsans.woff2), url(../font/ptsans.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url(../fonts/ptsans-bold.woff2), url(../font/ptsans-bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-grey-body: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --basic-darkgrey: #a9a9a9;
  --basic-grey-modal: #f2f2f2;
  --basic-darkbrown: #333333;
  --special: #666666;
  --basic-focus-logo: #bdbbbc;
  --basic-hover-blue: #669ec0;
  --basic-focus-blue: #5496bd;
  --basic-hover-brown: #604e43;
  --basic-focus-brown: #503e33;
}

/*Global*/

.page {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-body);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.main-navigation {
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  list-style-type: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-darkgrey);
}

/*trip to Sedona*/

.trip-sedona {
  background-image: url(../img/main_1_block/background_photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*features*/

.feature-text-block {
  background-color: var(--basic-white);
}

.feature-heading {
  font-size: 21px;
  line-height: 26px;
}

.reasons-txt {
  font-weight: 400;
  line-height: 26px;
}

.features-list {
  padding: 0;
  color: var(--basic-black);
}

.feature-city {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.feature-item-title {
  margin-top: 0;
  font-size: 21px;
}

.feature-item-txt {
  font-weight: normal;
  margin-bottom: 0;
}

.feature-item:last-child {
  list-style: none;
}

.more-features {
  list-style: none;
  background-color: var(--basic-white);
}

.feature-block {
  background-color: var(--basic-grey);
}

/*booking*/

.booking {
  background-color: var(--basic-white);
}

.booking-txt {
  font-size: 30px;
  line-height: 24px;
}

.booking-info {
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
}

.button {
  font-family: inherit;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.booking-link {
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
}

.booking-link:hover {
  background-color: var(--basic-hover-brown);
}

.booking-link:focus {
  background-color: var(--basic-focus-brown);
}

/*footer*/

.main-footer {
  background-color: var(--basic-footer);
}

.footer-insta, .footer-phone {
  color: inherit;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  list-style: none;
}

.social-button {
  color: var(--basic-white);
}

.social-button:hover {
  color: var(--basic-hover-blue);
}

.social-button:focus {
  color: var(--basic-focus-blue);
}

.footer-copyright {
  line-height: 26px;
}

.footer-logo:hover {
  color: var(--basic-blue);
}

.footer-logo:focus {
  color: var(--basic-focus-logo);
}

/*catalog*/

/*selection*/

.selection {
  background-image: url(../img/main_catalog/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--basic-white);
}

.form-group {
  border: none;
}

.selection-group {
  list-style: none;
}

.selection-title {
  font-size: 16px;
}

.show-button {
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.show-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/*sort*/

.sort-wrapp {
  background-color: var(--basic-white);
}

.result-sort {
  font-size: 21px;
  line-height: 26px;
}

.sort {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.sort-item {
  list-style: none;
  color: inherit;
}

.sort-link {
  border-bottom: 1px dashed var(--basic-blue);
  color: inherit;
  opacity: 0.3;
}

.sort-link:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sort-link:focus {
  opacity: 1;
  border-bottom: none;
}

.sort-title-link {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.sort-title-link:hover {
  color: var(--basic-blue);
}

.sort-title-link:focus {
  opacity: 0.3;
}

.sort-range, .sort-value {
  font-weight: 400;
}

.more-info {
  background-color: var(--basic-blue);
}

.more-info:hover {
  background-color: var(--basic-hover-blue);
}

.more-info:focus {
  background-color: var(--basic-focus-blue);
}

.book-button {
  background-color: var(--basic-brown);
}

.book-button:hover {
  background-color: var(--basic-hover-brown);
}

.book-button:focus {
  background-color: var(--basic-focus-brown);
}

/*footer catalog*/

.footer-catalog {
  background-color: var(--basic-white);
}
