@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url(../fonts/ptsans.woff2), url(../font/ptsans.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: swap;
  src: url(../fonts/ptsans-bold.woff2), url(../font/ptsans-bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-grey-body: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --basic-darkgrey: #a9a9a9;
  --basic-grey-modal: #f2f2f2;
  --basic-darkbrown: #333333;
  --special: #666666;
  --basic-focus-logo: #bdbbbc;
  --basic-hover-blue: #669ec0;
  --basic-focus-blue: #5496bd;
  --basic-hover-brown: #604e43;
  --basic-focus-brown: #503e33;
  --basic-black-logo-footer: #231F20;
}

/*Global*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-body);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Main navigation*/

.main-header {
  width: 100%;
  background-color: var(--basic-white);
  margin-bottom: 0;
}

.main-navigation {
  line-height: 26px;
  color: var(--basic-black);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  padding: 15px 72px;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.site-navigation-item:nth-child(3), .site-navigation-item:nth-child(4) {
  text-align: right;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--basic-blue);
}

.site-navigation-link:focus {
  color: var(--basic-darkgrey);
}

/*trip to Sedona*/

  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.trip-sedona {
  background-image: url(../img/main_1_block/background_photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/*features*/

.feature-text-block {
  background-color: var(--basic-white);
  margin-bottom: 0;
  padding: 42px 355px 51px;
  text-align: center;
}

.feature-heading {
  margin-top: 0;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 48px;
}

.reasons-txt {
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

.features-list {
  padding: 0;
  margin: 0;
  color: var(--basic-black);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-city, .feature-bridge {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.feature-city, .feature-bridge {
  grid-column: 1/4;
}

.feature-block-square {
  grid-column: 1/2;
}

.feature-block-road {
  grid-column: 2/3;
}

.feature-block-people {
  grid-column: 3/4;
}

.feature-item:last-child {
  grid-row: 2/3;
  grid-column: 1/4;
}

.feature-city, .feature-bridge {
  display: flex;
}

.feature-bridge {
  flex-direction: row-reverse;
}

.feature-item-wrp {
  margin-left: 52px;
  margin-right: 52px;
}

.feature-item-title {
  font-size: 21px;
  text-align: center;
  width: 150px;
  margin: 47px auto 25px;
}

.feature-item-txt {
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 0;
  text-align: center;
}

.feature-item-number {
  display: block;
  text-align: center;
  font-weight: 400;
}

.feature-item:last-child {
  list-style: none;
}

.more-features {
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 113px;
}

.feature-block {
  background-color: var(--basic-grey);
}

.feature-block-square {
  width: 327px;
  padding-left: 96px;
  padding-bottom: 54px;
}

.feature-block-road {
  width: 327px;
  padding-bottom: 54px;
  padding-right: 37px;
  padding-left: 37px;
}

.feature-block-people {
  width: 327px;
  padding-right: 77px;
  padding-bottom: 54px;
}

.feature-block-house {
  padding-left: 73px;
  padding-bottom: 82px;
}

.feature-block-souvenir {
  padding-right: 65px;
}

/*booking*/

.booking {
  background-color: var(--basic-white);
  text-align: center;
  padding: 58px 316px 0px;
}

.booking-txt {
  font-size: 30px;
  line-height: 24px;
}

.booking-info {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 40px;
}

.button {
  font-family: inherit;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.booking-link {
  display: block;
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
  padding: 30px 124px;
}

.booking-link:hover {
  background-color: var(--basic-hover-brown);
}

.booking-link:focus {
  background-color: var(--basic-focus-brown);
}

/* MAP*/

.map {
  padding-bottom: 49.45%;
  position: relative;
  height: 0;
}

.map iframe {
  left: 0;
  top: 0;
  height: 594px;
  width: 100%;
  position: absolute;
}

/*footer*/

.main-footer {
  margin-top: -138px;
  z-index: 1;
  padding: 23px 138px 36px 111px;
  background-color: var(--basic-footer);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 145px;
}

.footer-insta, .footer-phone {
  color: inherit;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  list-style: none;
  display: flex;
}

.social-button {
  fill: var(--basic-blue);
  margin-right: 6px;
}

.social-button:hover {
  fill: var(--basic-hover-blue);
}

.social-button:focus {
  fill: var(--basic-focus-blue);
}

.footer-copyright {
  line-height: 26px;
}

.footer-logo {
  fill: var(--basic-black-logo-footer);
}

.footer-logo:hover {
  fill: var(--basic-blue);
}

.footer-logo:focus {
  fill: var(--basic-focus-logo);
}

/*catalog*/

/*selection*/

.selection {
  padding: 12px 73px 32px;
  background-image: url(../img/main_catalog/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--basic-white);
}

.selection-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form-group {
  border: none;
  padding: 0;
}

.selection-group {
  list-style: none;
  padding: 0;
}

.selection-title {
  font-size: 16px;
}

.show-button {
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
  margin-top: 40px;
}

.show-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/*sort*/

.sort-wrapp {
  padding: 30px 73px;
  background-color: var(--basic-white);
}

.selection-wrp {
  display: flex;
  margin-bottom: 60px;
}

.result-sort {
  font-size: 21px;
  line-height: 26px;
}

.sort, .selection-list {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.selection-list {
  display: flex;
}

.selection-item {
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
}

.sort-txt {
  margin-left: 46px;
}

.sort-item {
  margin-bottom: 30px;
  list-style: none;
  color: inherit;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
}

.sort-item:last-child {
  margin-bottom: 0;
}

.sort-value {
  text-align: right;
}

.sort-item-wrp {
  padding-left: 37px;
}

.selection-item-link {
  border-bottom: 1px dashed var(--basic-blue);
  color: inherit;
  opacity: 0.3;
}

.selection-item-link:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.selection-item-link:focus {
  opacity: 1;
  border-bottom: none;
}

.sort-title {
  margin: 0;
  margin-bottom: 7px;
}

.sort-title-link {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.sort-title-link:hover {
  color: var(--basic-blue);
}

.sort-title-link:focus {
  opacity: 0.3;
}

.sort-range {
  margin-top: 0;
  margin-bottom: 18px;
}

.sort-range, .sort-value {
  font-weight: 400;
}

.more-info {
  background-color: var(--basic-blue);
  padding: 3px 17px;
  margin-right: 6px;
}

.more-info:hover {
  background-color: var(--basic-hover-blue);
}

.more-info:focus {
  background-color: var(--basic-focus-blue);
}

.book-button {
  background-color: var(--basic-brown);
  padding: 3px 17px;
}

.book-button:hover {
  background-color: var(--basic-hover-brown);
}

.book-button:focus {
  background-color: var(--basic-focus-brown);
}

/*footer catalog*/

.footer-catalog {
  background-color: var(--basic-white);
  margin-top: -11px;
}
